@import "tailwindcss";

body{
  font-family: sans-serif;
  @apply bg-black text-gray-100;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;   
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
